In [37]:
import numpy as np
import pandas as pd

In [39]:
df = pd.read_csv('IMDB Dataset.csv')

In [40]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [41]:
df['review'][10]

'Phil the Alien is one of those quirky films where the humour is based around the oddness of everything rather than actual punchlines.<br /><br />At first it was very odd and pretty funny but as the movie progressed I didn\'t find the jokes or oddness funny anymore.<br /><br />Its a low budget film (thats never a problem in itself), there were some pretty interesting characters, but eventually I just lost interest.<br /><br />I imagine this film would appeal to a stoner who is currently partaking.<br /><br />For something similar but better try "Brother from another planet"'

Preprocessing the text. Fallowing steps are taken in the account.
1. Removing html tags
2. Removing special characters
3. Converting everything to lower case
4. Removing stopping words
5. Stemming

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [43]:
df['sentiment'].replace({'positive':1, 'negative':0},inplace = True)

In [44]:
df.head()

                                              review  sentiment
0  One of the other reviewers has mentioned that ...          1
1  A wonderful little production. <br /><br />The...          1
2  I thought this was a wonderful way to spend ti...          1
3  Basically there's a family where a little boy ...          0
4  Petter Mattei's "Love in the Time of Money" is...          1

In [45]:
#using regular expression
import re
clean = re.compile('<.*>')
re.sub(clean, '', df.iloc[2].review)

'I thought this was a wonderful way to spend time on a too hot summer weekend, sitting in the air conditioned theater and watching a light-hearted comedy. The plot is simplistic, but the dialogue is witty and the characters are likable (even the well bread suspected serial killer). While some may be disappointed when they realize this is not Match Point 2: Risk Addiction, I thought it was proof that Woody Allen is still fully in control of the style many of us have grown to love.This may not be the crown jewel of his career, but it was wittier than "Devil Wears Prada" and more interesting than "Superman" a great comedy to go see with friends.'

In [46]:
def html(text):
    clean = re.compile('<.*>')
    return re.sub(clean, '', text)

In [47]:
df['review']=df['review'].apply(html)

In [48]:
df.head()

                                              review  sentiment
0  One of the other reviewers has mentioned that ...          1
1  A wonderful little production. The realism rea...          1
2  I thought this was a wonderful way to spend ti...          1
3  Basically there's a family where a little boy ...          0
4  Petter Mattei's "Love in the Time of Money" is...          1

In [49]:
#conerting to lower case:
def lower(text):
    return text.lower()

In [50]:
df['review']=df['review'].apply(lower)

In [51]:
df.head()

                                              review  sentiment
0  one of the other reviewers has mentioned that ...          1
1  a wonderful little production. the realism rea...          1
2  i thought this was a wonderful way to spend ti...          1
3  basically there's a family where a little boy ...          0
4  petter mattei's "love in the time of money" is...          1

In [52]:
#removing special characters
def special(text):
    x=''
    
    for i in text:
        if i.isalnum():
            x = x + i
        else:
            x = x + ' '
    return x

In [53]:
df['review']= df['review'].apply(special)

In [54]:
df.head()

                                              review  sentiment
0  one of the other reviewers has mentioned that ...          1
1  a wonderful little production  the realism rea...          1
2  i thought this was a wonderful way to spend ti...          1
3  basically there s a family where a little boy ...          0
4  petter mattei s  love in the time of money  is...          1

In [55]:
#importing stop words
import nltk
from nltk.corpus import stopwords

In [58]:
df
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/ravi/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [62]:
words = stopwords.words('english')
words

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [63]:
def stopwords(text):
    x = []
    for i in text.split():
        if i not in words:
            x.append(i)
    y=x[:]
    x.clear()
    return y

In [64]:
stopwords('I thought this was a wonderful way to spend time on a too hot summer weekend, sitting in the air conditioned theater and watching a light-hearted comedy. The plot is simplistic, but the dialogue is witty and the characters are likable (even the well bread suspected serial killer). While some may be disappointed when they realize this is not Match Point 2: Risk Addiction, I thought it was proof that Woody Allen is still fully in control of the style many of us have grown to love.This may not be the crown jewel of his career, but it was wittier than "Devil Wears Prada" and more interesting than "Superman" a great comedy to go see with friends.')

['I',
 'thought',
 'wonderful',
 'way',
 'spend',
 'time',
 'hot',
 'summer',
 'weekend,',
 'sitting',
 'air',
 'conditioned',
 'theater',
 'watching',
 'light-hearted',
 'comedy.',
 'The',
 'plot',
 'simplistic,',
 'dialogue',
 'witty',
 'characters',
 'likable',
 '(even',
 'well',
 'bread',
 'suspected',
 'serial',
 'killer).',
 'While',
 'may',
 'disappointed',
 'realize',
 'Match',
 'Point',
 '2:',
 'Risk',
 'Addiction,',
 'I',
 'thought',
 'proof',
 'Woody',
 'Allen',
 'still',
 'fully',
 'control',
 'style',
 'many',
 'us',
 'grown',
 'love.This',
 'may',
 'crown',
 'jewel',
 'career,',
 'wittier',
 '"Devil',
 'Wears',
 'Prada"',
 'interesting',
 '"Superman"',
 'great',
 'comedy',
 'go',
 'see',
 'friends.']

In [65]:
df['review']= df['review'].apply(stopwords)

In [66]:
df

                                                  review  sentiment
0      [one, reviewers, mentioned, watching, 1, oz, e...          1
1      [wonderful, little, production, realism, reall...          1
2      [thought, wonderful, way, spend, time, hot, su...          1
3      [basically, family, little, boy, jake, thinks,...          0
4      [petter, mattei, love, time, money, visually, ...          1
...                                                  ...        ...
49995  [thought, movie, right, good, job, creative, o...          1
49996  [bad, plot, bad, dialogue, bad, acting, idioti...          0
49997  [catholic, taught, parochial, elementary, scho...          0
49998  [going, disagree, previous, comment, side, mal...          0
49999  [one, expects, star, trek, movies, high, art, ...          0

[50000 rows x 2 columns]

In [75]:
#stemming
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [76]:
y=[]
def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z

In [81]:
stem_words(['love','loving','loved'])

['love', 'love', 'love']

In [82]:
df['review']= df['review'].apply(stem_words)

In [83]:
df

                                                  review  sentiment
0      [one, review, mention, watch, 1, oz, episod, h...          1
1      [wonder, littl, product, realism, realli, come...          1
2      [thought, wonder, way, spend, time, hot, summe...          1
3      [basic, famili, littl, boy, jake, think, zombi...          0
4      [petter, mattei, love, time, money, visual, st...          1
...                                                  ...        ...
49995  [thought, movi, right, good, job, creativ, ori...          1
49996  [bad, plot, bad, dialogu, bad, act, idiot, dir...          0
49997  [cathol, taught, parochi, elementari, school, ...          0
49998  [go, disagre, previou, comment, side, maltin, ...          0
49999  [one, expect, star, trek, movi, high, art, fan...          0

[50000 rows x 2 columns]

In [84]:
#joining back from list to string
def  join(list_input):
    return " ".join(list_input)

In [85]:
df['review']= df['review'].apply(join)

In [86]:
df

                                                  review  sentiment
0      one review mention watch 1 oz episod hook righ...          1
1      wonder littl product realism realli come home ...          1
2      thought wonder way spend time hot summer weeke...          1
3      basic famili littl boy jake think zombi closet...          0
4      petter mattei love time money visual stun film...          1
...                                                  ...        ...
49995  thought movi right good job creativ origin fir...          1
49996  bad plot bad dialogu bad act idiot direct anno...          0
49997  cathol taught parochi elementari school nun ta...          0
49998  go disagre previou comment side maltin one sec...          0
49999  one expect star trek movi high art fan expect ...          0

[50000 rows x 2 columns]

In [93]:
X = df.iloc[:,0:1].values

In [94]:
X.shape

(50000, 1)

In [91]:
X.shape

(50000,)

In [90]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000)

In [96]:
X = cv.fit_transform(df['review']).toarray()

In [97]:
X.shape

(50000, 5000)

In [100]:
X[3500].mean()

0.012

In [101]:
y=df.iloc[:,1].values

In [102]:
y.shape

(50000,)

In [104]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [105]:
X_train.shape

(40000, 5000)

In [108]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB

In [109]:
nb1 = GaussianNB()
nb2 = MultinomialNB()
nb3 = BernoulliNB()

In [111]:
nb1.fit(X_train,y_train)
nb2.fit(X_train,y_train)
nb3.fit(X_train,y_train)

BernoulliNB()

In [112]:
y_pred1=nb1.predict(X_test)
y_pred2=nb2.predict(X_test)
y_pred3=nb3.predict(X_test)

In [113]:
from sklearn.metrics import accuracy_score

In [114]:
print("Gaussian",accuracy_score(y_test,y_pred1))
print("Multinomial",accuracy_score(y_test,y_pred2))
print("Bernaulli",accuracy_score(y_test,y_pred3))

Gaussian 0.7251
Multinomial 0.8275
Bernaulli 0.8309

In [ ]:
# Hence, the best model is Bernaulli